# Public endpoint

AMQP_URL = "amqps://fedora:@rabbitmq.fedoraproject.org/%2Fpublic_pubsub" 


# Queue id
UUID = "1234-5678" # GENERATE your own ID with uuid command

QUEUES = {
    UUID: {
        'durable': False,
        'auto_delete': False,
        'exclusive': False,
        'arguments': {},
    },
}

BINDINGS = [
    {
        'exchange': 'amq.topic',
        'queue': UUID,  
        'routing_keys': [                    # topics to listen
            'org.centos.prod.ci.#',
            'org.fedoraproject.prod.ci.#'
        ],
    },
]

# Metrics will be exposed on http://localhost:METRICS_PORT/METRICS_PATH

METRICS_PATH = b"metrics"
METRICS_PORT = "8080"
